services:
  adguard-home:
    image: adguard/adguardhome
    container_name: adguard-home
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 853:853/tcp
      - 8080:80/tcp
      - 4433:443/tcp
      - 3000:3000/tcp # Optional: interface for installation
    volumes:
      - ${DOCKER_BASE}/adguard-home/work:/opt/adguardhome/work
      - ${DOCKER_BASE}/adguard-home/config:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      - traefik
      - dns_net

  unbound:
    image: klutchell/unbound
    container_name: unbound
    restart: unless-stopped
    ports:
      - 5335:53/tcp
      - 5335:53/udp
    volumes:
      - ${DOCKER_BASE}/unbound/custom.conf.d:/etc/unbound/custom.conf.d
      - ${DOCKER_BASE}/unbound/logs/unbound.log:/var/log/unbound.log
      - ${DOCKER_BASE}/unbound/root/root.hints:/var/lib/unbound/root.hints
      - ${DOCKER_BASE}/unbound/root/root.key:/var/lib/unbound/root.key
      - ${DOCKER_BASE}/unbound/run:/run
    networks:
      - dns_net

networks:
  traefik:
    external: true
    name: traefik
  dns_net:
    external: true
    name: dns_net